/*
NIGHT THEME
"%%logo-bg%%" : "#F5D14E" ,
"%%body-bg%%" : "#B3A8A8",#BDB3B3
"%%local-bg%%": "#624884",
"%%nav-bg%%" : "#312442",
"%%bat-bg%%" : "#B5A3CC",
"%%bat-bar%%": "black",
"%%content-bg%%": "#D3E8E8",
"%%data-bg%%" : "grey",
"%%header-bg%%" : "#312442",
"%%logo-src%%" : "assets/logo_black_on_clear.png",
"%%local-text%%" : "white"

DAY THEME
"%%logo-bg%%" : "#321F32" ,
"%%body-bg%%" : "#D8F3FD",
"%%local-bg%%": "#FBE289",
"%%nav-bg%%" : "#6E6235",
"%%bat-bg%%" : "#EBCC5C",
"%%bat-bar%%": "black",
"%%content-bg%%": "#D3E8E8",
"%%data-bg%%" : "grey",
"%%header-bg%%" : "#FBE289",
"%%logo-src%%" : "assets/logo_white_on_clear.png",
"%%local-text%%" : "black"
*/

:root{
	--logo-background: %%logo-bg%%;
	--body-background: %%body-bg%%;
	--local-background: %%local-bg%%;
	--nav-background: %%nav-bg%%;
	--bat-background: %%bat-bg%%;
	--bat-bar: %%bat-bar%%;
	--content-background: %%content-bg%%;
	--data-background: %%data-bg%%;
	--header-background: %%header-bg%%;
	--local-text: %%local-text%%;
}

/*this allows on-page jumps to avoid hiding under the header*/
html {
  scroll-padding-top: calc(10vw + 22px);
}

body{
	background-color: var(--body-background);
	margin: 0;
	font-family: Helvetica, sans-serif;
}

#headerContainer{
	position: fixed;
	top:  0;
	width: 100%;
	z-index: 1;
}

#logoContainer{
	position: relative;
	top:  calc(100vw * -.04);
	left: -4%;
	width: 14%;
	height: calc(100vw * .14);
	z-index: 1;
    border-radius: 50%;
    background-color: var(--logo-background);
}

#logoContainer img{
	position: absolute;
	top:  28%;
	height: auto;
	left: 29%;
	z-index: 1;
	width: 60%;
}

#header-local {
	position: absolute;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	height: calc(100vw * .030);
	padding: 5px;
	left: 15%;
	top: 10px;
	width: 85%;
	background-color: var(--local-background);
	display: flex;
	align-items: center;
  	justify-content: space-evenly;
  	color:  var(--local-text);
}

#header-background {
	position: absolute;
	background-color: var(--body-background); /*make same as body*/
	/*the height of this should be the same as header-local + 22px*/
	height: calc((100vw * .030) + 22px);
	top: 0px;
	width: 100%;
}

#header-nav {
	position: absolute;
	border-style: solid;
	border-width: 1px;
	background: var(--nav-background);
	height: calc(100vw * .04);
	top:  calc(100vw * .035);
	/*left: calc(100vw * .09);*/ /*this is for square version*/
	left: calc(100vw * .079); /* this is for round version*/
	padding: 5px;
	width: 85%;
	display: flex;
	align-items: center;
  	justify-content: space-evenly;
}

#header-bat {
	position: absolute;
	border-style: solid;
	border-width: 1px;
	background-color: var(--bat-background);
	height: calc(100vw * .027);
	padding: 5px;
	width: 86%;
	top:  calc((100vw * .075) + 2px);
	left: 5%;
	vertical-align: text-top;
	padding: 0;
}

#batPercent {
	position: absolute;
	left: min(%%BATTERY%%,calc(100vw - 29em));
	bottom: 5%;
}

#batBar{
	width: %%BATTERY_BAR%%; 
	float: left;
	opacity: 25%;
	height: 100%;
	background-color: var(--bat-bar);
}

/*.statName{
	position: absolute;
	bottom: 5%;
	padding-left: 5px;
}*/

.navLink {
	top:  50%;
	float: left;
	font-size: 30px;
	font-weight: bold;
}

.navLink a {
	text-decoration: none;
	color: white;
}

#onPage a{
	text-decoration: underline;
}

.serverLocation{
	float: left;
/*	width: 33%;
*/	top:  50%;
}

#menu{
	display: none;
}

#footer {
	position: relative;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 20px;
	bottom: 0;
	width: 100%;
	background-color: var(--local-background);
	color:  var(--local-text);
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
  	justify-content: space-evenly;
  	margin-bottom: calc(%%graphMaxPixels%%px + 50px);
}

#footer-content{
	width: 90%;
}

#footer a {
/*	text-decoration: none;
*/	/*color: var(--local-text);*/
}

#fDataContainer{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
}

.fDataBox{
	width: 25%;
	padding-left: 10px;
	padding-right: 10px;
	justify-content: center;
}


#footer-nav {
	display: none;
}


.hideMinimize{
	display: inline;
}

.showMinimize{
	display: none;
}

.hideMedium{
	display: inline;
}

.showSmall{
	display: none;
}

/****CONTENT********/


#content{
	position: absolute;
	opacity: 85%;
	width: 100%;
	top: calc(100vw * .15);
	display: flex;
	flex-direction: column;
  	justify-content: center;
  	align-items: center;
}

.profileContainer{
	width: 75%;
	display: flex;
	flex-flow: row wrap;
	margin: 0;
/*	justify-content: center;*/
/*	align-content: center;*/
}

.profile{
	width: 29%;
	margin: 1%;
	padding: 5px;
	background-color: var(--content-background);
	border-style: solid;
	border-width: 1px;
}

.profile img {
	float: right;
	max-width: 50%;
}

/*EVENT STUFF TO BE CHANGED TO CONTENTLIST*/
#eventContainer{
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

/* is this necessary???*/
#contentItemContainer{
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

.contentItem{	
	margin-bottom: 50px;
	padding: 10px;
	width: 75%;	
	background-color: var(--content-background);
}

.contentItem h2 {
	border-bottom: solid;
	border-width: 1px;
}

.contentItem img {
	float: right;
	max-width: 50%;
}

.tableOfContents {
	padding: 5px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.tableOfContents a {
	margin: 1%;
}

/*limit video width to parent container*/
video {
	max-width: 100%; 
   	background: transparent url('assets/logo_whitebackground.jpg') 50% 50% / cover no-repeat ;
}


/****HISTORY BAR****/

#graphContainer{
	position: fixed;
	width: 100%;
	bottom: 0;
	display: flex;
	flex-direction: column;
}

/*container for entire bar graph*/
#historyBar {
	position: relative;
	width: 100%;
	bottom: 0;
/*	height: 500px;*/
	z-index: -1;
}

/*container for individual bars*/
.hbarContainer{
	position: relative;
	height: 600px;
	float: left;
	width: 4.167%; /*this sets with of individual bars. must be changed when the number of bars changes*/
}

/*data bar*/
.hbar{
	width: 100%;
	opacity: 30%;
	background: var(--data-background);
	bottom: 0;
	position: absolute;
	border-top: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	box-sizing: border-box;
}

.hbar span{
	position: relative;
	font-size: 16px;
	top:  -18px;
}

/*#hbarScale{
	height: 600px;
}
*/

#hbar1 {
	height: %%1H%%;
}

#hbar2 {
	height: %%2H%%;
}

#hbar3 {
	height: %%3H%%;
}

#hbar4 {
	height: %%4H%%;
}

#hbar5 {
	height: %%5H%%;
}

#hbar6 {
	height: %%6H%%;
}

#hbar7 {
	height: %%7H%%;
}

#hbar8 {
	height: %%8H%%;
}

#hbar9 {
	height: %%9H%%;
}

#hbar10 {
	height: %%10H%%;
}

#hbar11 {
	height: %%11H%%;
}

#hbar12 {
	height: %%12H%%;
}

#hbar13 {
	height: %%13H%%;
}

#hbar14 {
	height: %%14H%%;
}

#hbar15 {
	height: %%15H%%;
}

#hbar16 {
	height: %%16H%%;
}

#hbar17 {
	height: %%17H%%;
}

#hbar18 {
	height: %%18H%%;
}

#hbar19 {
	height: %%19H%%;
}

#hbar20 {
	height: %%20H%%;
}

#hbar21 {
	height: %%21H%%;
}

#hbar22 {
	height: %%22H%%;
}

#hbar23 {
	height: %%23H%%;
}

#hbar24 {
	height: %%24H%%;
}

#time-container{
	position: relative;
	display: flex;
	width: 100%;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: var(--local-background);
}

#twentyfour{
	float: left;
	text-align: left;
	width: 31%;
	padding-left: 2%;
}

#now {
	float: right;
	text-align: right;
	width: 31%;
	padding-right: 2%;
}

#twelve{
	float: left;
	text-align: center;
	width: 33%;
}


@media (max-width: 1300px) {

	#header-local {
		position: absolute;
		border-style: solid;
		border-width: 1px;
		height: calc(100vw * .028);
		padding: 1px;
		left: 12%;
		top: 9px;
		width: 88%;
		background-color: var(--local-background);
		display: flex;
		align-items: center;
	  	justify-content: space-evenly;
	}

	#header-nav {
		position: absolute;
		border-style: solid;
		border-width: 1px;
		background: var(--nav-background);
		height: calc(100vw * .04);
		top:  calc(100vw * .035);
		left: calc(100vw * .079);
		padding-top: 1px;
		padding-left: 5px;
		padding-right: 2px;
		width: 88%;
		display: flex;
		align-items: center;
	  	justify-content: space-evenly;
	}

	.hideMedium{
		display: none;
	}
}

@media (max-width: 1000px) {
	
	html {
	  scroll-padding-top: calc(20vw + 22px);
	}

	body{
		background-color: var(--body-background);
	}

	#headerContainer{
		background-color: var(--header-background);
		height: calc(100vw * .235);
		padding-top: 0px;
		padding-bottom: 0px;
	}

	#logoContainer{
		position: relative;
		top:  calc(100vw * -.09);/*version I sent Anne was 5% and 15% */
		left: -9%;
		width: 28%;
		height: calc(100vw * .28);
		z-index: 1;
	    border-radius: 50%;
	    background-color: var(--logo-background)/*darkorange*/;
	}

	#logoContainer img{
		position: absolute;
		top:  28%;
		height: auto;
		left: 31%;
		z-index: 1;
		width: 58%;
	}

	#header-background {
		display: none;
	}

	#header-nav{
		display: none;
	}

	#header-bat{
		display: none;
	}

	#header-local{
		border-style: none;
		border-width: 0px;
		/*max-height: 200px;
		min-height: 100px;*/
		height: calc(100vw * .2);
		padding-top: 1px;
		padding-bottom: 0px;
		padding-left: 3%;
		padding-right: 0px;
/*		top:  calc(100vw * .0/*25*/);*/
		left: 17%;
		width: calc(80% - 4em);
		background-color: transparent;
		color: var(--local-text);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	  justify-content: space-evenly;
	}

	#menu{
		position: absolute;
		top:  calc(100vw * .025);
		right: 2.5%;
		border-style: solid;
		border-width: 1px;
		border-color: var(--local-text);
		padding: 1px;
		color: var(--local-text);
		display: block;
	}

	#menu a {
		text-decoration: none;
		color: var(--local-text);
	}

	#footer {
		background-color: var(--header-background);
		color: var(--local-text);
	}

	#footer-nav {
		position: relative;
		padding: 5px;
		width: 85%;
		display: flex;
		align-items: center;
		align-content: center;
	  	justify-content: space-evenly;
		flex-direction: column;
	}

	#footer a {
		color: var(--local-text);
	}

	#fDataContainer{
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-direction: column;
	}

	.fDataBox{
		width: 75%;
		padding-left: 10px;
		padding-right: 10px;
		justify-content: center;
	}

	#content{
		position: absolute;
		opacity: 85%;
		width: 100%;
		top: calc(100vw * .245);
		display: flex;
		flex-direction: column;
	  	justify-content: center;
	  	align-items: center;
	  	align-content: center;
	}

	.profileContainer{
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		width: 100%;
	/*	align-content: center;*/
	}

	.profile{
		width: 90%;
		margin: 1%;
		padding: 5px;
		background-color: var(--content-background);
		border-style: solid;
		border-width: 1px;
	}

	.contentItem{
		margin-bottom: calc(100vw * .04);
		margin-top: 1%;
		padding: 5px;
		width: 90%;	
		background-color: var(--content-background);
	}

	.hideMedium{
		display: inline;
	}

	.showSmall{
		display: inline;
	}
}

@media (max-width: 600px) {
	.hideMinimize{
		display: none;
	}

	.showMinimize{
		display: inline;
	}

}