 <!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="lcm.css" />
<title>Low Carbon Methods</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="assets/logos/favicon-16x16.png">
</head>

<body>

<div id="headerContainer">
    <div id="logoContainer">
        <a href="index.html"><img src=%%logo-src%%></a>
    </div>

    <div id="header-background">
    </div>

    <div id="header-local">
        <div class="serverLocation">Served from a solar powered server in <span class="hideMedium">Peterborough,</span> Canada</div>
        <div class="serverLocation"><span class="hideMinimize">Today's weather: %%WEATHER_TODAY%%</span></div>
        <div class="serverLocation"><span class="hideMinimize">Tomorrow's weather: %%WEATHER_TOMORROW%%</span></div>
        <div class="serverLocation"><span class="showSmall hideMinimize">Battery Charge: %%BATTERY%%</span></div>
    </div>
    
    <div id="menu"><a href="publications.html#footer-nav">Menu</a></div>

    <div id="header-nav">
        <div class="navLink"><a href="index.html">About</a></div>
        <div class="navLink"><a href="researchers.html">Researchers</a></div>
        <div class="navLink"><a href="events.html">Events</a></div>
        <div class="navLink" id="onPage"><a href="publications.html">Publications</a></div>
        <div class="navLink"><a href="resources.html">Resources</a></div>
        <div class="navLink"><a href="contact.html">Contact</a></div>
    </div>


    <div id="header-bat">
        <div id="batBar"></div>
        <div id="batPercent">Battery Capacity %%BATTERY%%</div>
    </div>

</div>

<div id=graphContainer>
    <div id="historyBar">
        <div class="hbarContainer">
            <div class="hbar" id="hbar1"><span>%%avgP1%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar2"><span>%%avgP2%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar3"><span>%%avgP3%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar4"><span>%%avgP4%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar5"><span>%%avgP5%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar6"><span>%%avgP6%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar7"><span>%%avgP7%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar8"><span>%%avgP8%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar9"><span>%%avgP9%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar10"><span>%%avgP10%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar11"><span>%%avgP11%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar12"><span>%%avgP12%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar13"><span>%%avgP13%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar14"><span>%%avgP14%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar15"><span>%%avgP15%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar16"><span>%%avgP16%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar17"><span>%%avgP17%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar18"><span>%%avgP18%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar19"><span>%%avgP19%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar20"><span>%%avgP20%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar21"><span>%%avgP21%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar22"><span>%%avgP22%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar23"><span>%%avgP23%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar24"><span>%%avgP24%%</span></div>
        </div>
    </div>

    <div id="time-container">
        <div id="twentyfour">-24 hrs</div>
        <div id="twelve">-12 hrs</div>
        <div id="now">%%TIME%%</div>
    </div>

</div>

<div id="content">

<!-- UPDATE FROM HERE-->

<div class="contentItem">
             <h2>“Making and Meeting Online: A White Paper on E-Conferences, Workshops, and other Experiments in Low-Carbon Research Exchange.” </h2>
            Pasek, Anne, Caleb Wellum, and Emily Roehl. Petrocultures Research Group. 6 October 2020. <a href="https://www.energyhumanities.ca/news/making-and-meeting-online" target="_blank">https://www.energyhumanities.ca/news/making-and-meeting-online</a>.

            <h2><a href="https://estsjournal.org/index.php/ests/article/view/363" target="_blank">Low-Carbon Research: Building a Greener and More Inclusive Academy</a> </h2>
        <p>
        Anne Pasek, <i>Engaging Science and Technology Studies</i> 6(2020): https://doi.org/10.17351/ests2020.363.
    </p>
            <p>
            This essay examines how the fossil fuel energy regimes that support contemporary academic norms in turn shape and constrain knowledge production. High-carbon research methods and exchanges, particularly those that depend on aviation, produce distinct exclusions and incentives that could be reformed in the transition to a low-carbon academy. Drawing on feminist STS, alternative modes of collective research creation and collaboration are outlined, along with an assessment of their potential challenges and gains. This commentary concludes with several recommendations for incremental and institutional changes, along with a call for scholars of social and technical systems to uniquely contribute to this transition.
        </p>

<!-- UPDATE TO HERE-->

<div id=footer>

    <div id="footer-nav">
        <div class="navLink"><a href="index.html">About</a></div>
        <div class="navLink"><a href="researchers.html">Researchers</a></div>
        <div class="navLink"><a href="events.html">Events</a></div>
        <div class="navLink" id="onPage"><a href="publications.html">Publications</a></div>
        <div class="navLink"><a href="resources.html">Resources</a></div>
        <div class="navLink"><a href="contact.html">Contact</a></div>
    </div>
    
    <div id="footer-content">
        <p>
            This website is served from a solar powered server run by the Low Carbon Research Methods group, in collaboration with Solar Protocol. The server is located in Peterborough, Canada. The design utilizes minimal design methods that lower the energy demands of the website. 
        </p>

        <p>
            The weather and photovoltaic (PV) system data was last updated at %%TIME%% on %%DATE%% local server time.
        </p>
            
        <div id="fDataContainer">
            <div class="fDataBox">
                <p>Today's weather: %%WEATHER_TODAY%%</p>
                <p>Tomorrow's weather: %%WEATHER_TOMORROW%%</p>
            </div>
            <div class="fDataBox">
                <p>Battery Charge: %%BATTERY%%</p>
            </div>
            <div class="fDataBox">
                <p>Page Size: 63.24KB</p>
            </div>
        </div>

        <p>
            The graph below shows PV power production over the last 24 hours.
        </p>
    </div>

</div>

</div>


</body>

</html> 