 <!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="lcm.css" />
<title>Low Carbon Methods</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<div id="headerContainer">

    <div id="logoContainer">
        <a href="index.html"><img src=%%logo-src%%></a>
    </div>

    <div id="header-background">
    </div>

    <div id="header-local">
        <div class="serverLocation">Served from a solar powered server in Peterborough, Canada</div>
        <div class="serverLocation"><span class="hideMinimize">Today's weather: %%WEATHER_TODAY%%</span></div>
        <div class="serverLocation"><span class="hideMinimize">Tomorrow's weather: %%WEATHER_TOMORROW%%</span></div>
    </div>

    <div id="menu"><a href="researchers.html#footer-nav">Menu</a></div>

    <div id="header-nav">
        <div class="navLink"><a href="index.html">About</a></div>
        <div class="navLink" id="onPage"><a href="researchers.html">Researchers</a></div>
        <div class="navLink"><a href="events.html">Events</a></div>
        <div class="navLink"><a href="publications.html">Publications</a></div>
        <div class="navLink"><a href="resources.html">Resources</a></div>
        <div class="navLink"><a href="contact.html">Contact</a></div>
    </div>


    <div id="header-bat">
        <div id="batBar"></div>
        <div id="batPercent">Battery Capacity %%BATTERY%%</div>
    </div>

</div>

<div id=graphContainer>
    <div id="historyBar">
        <div class="hbarContainer">
            <div class="hbar" id="hbar1"><span>%%avgP1%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar2"><span>%%avgP2%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar3"><span>%%avgP3%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar4"><span>%%avgP4%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar5"><span>%%avgP5%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar6"><span>%%avgP6%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar7"><span>%%avgP7%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar8"><span>%%avgP8%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar9"><span>%%avgP9%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar10"><span>%%avgP10%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar11"><span>%%avgP11%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar12"><span>%%avgP12%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar13"><span>%%avgP13%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar14"><span>%%avgP14%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar15"><span>%%avgP15%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar16"><span>%%avgP16%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar17"><span>%%avgP17%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar18"><span>%%avgP18%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar19"><span>%%avgP19%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar20"><span>%%avgP20%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar21"><span>%%avgP21%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar22"><span>%%avgP22%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar23"><span>%%avgP23%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar24"><span>%%avgP24%%</span></div>
        </div>
    </div>

    <div id="time-container">
        <div id="twentyfour">-24 hrs</div>
        <div id="twelve">-12 hrs</div>
        <div id="now">%%TIME%%</div>
    </div>
    
</div>

<div id="content">
    <div class="profileContainer">
        <div class="profile">
            <img src="assets/researchers/AnnePasek.png">
            <strong>Anne Pasek</strong> is the Canada Research Chair in Media, Culture, and the Environment at Trent University. She studies how carbon becomes communicable to different communities, to different social and material effects.
        </div>

        <div class="profile">
            <img src="assets/logos/logo_white_on_clear.png">
            <strong>Brent Ryan Bellamy</strong> writes about his experiences teaching University courses on energy literacy, petroculture, and world building. His books Remainders of the American Century: Post-Apocalyptic Novels in the Age of US Decline, An Ecotopian Lexicon, and Materialism and the Critique of Energy are all available now.
        </div>

        <div class="profile">
            <img src="assets/researchers/Urmi.jpg">
            <strong>Urmi Bhattacharyya</strong> teaches Sociology at Sri Venkateswara College (University of Delhi), New Delhi, India. Her research interests revolve around the politics of visuality, representation, inequality, and injustice. She is also interested in critical phenomenological perspectives in experience and agency, and in critical theoretical approaches to knowledge-production.
        </div>

        <div class="profile">
            <img src="assets/researchers/Veronica.jpg">
           <strong>Veronica Brodén Gyberg</strong> is an associate senior lecturer at the Department of Thematic Studies: Environmental Change and the Centre for Climate Science and Policy Research (CSPR) at Linköping University (LiU). Her research interests include science and technology policy, climate-related aid, the politics of decarbonization and just transition.
        </div>

        <div class="profile">
            <img src="assets/researchers/Kyle.jpg">
            <strong>Kyle Devine</strong> is an associate professor in the Department of Musicology at the University of Oslo, and a working-group member in the Oslo School of Environmental Humanities. He is the author of Decomposed: The Political Ecology of Music.
        </div>

        <div class="profile">
            <img src="assets/researchers/Zoe.jpg">
            <strong>Zoë Heyn-Jones</strong> is a SSHRC postdoctoral fellow at the Centre for Sustainable Curating in the department of Visual Arts at Western University where she is developing an interdisciplinary arts-based project on food security, sovereignty and justice in Canada and Mexico. She lives and works in Tenochtitlan/Mexico City and Tkaranto/Toronto.
        </div>

        <div class="profile">
            <img src="assets/researchers/Rachel.jpg">
            <strong>Rachel Webb Jekanowski</strong> is a researcher, educator, and community organizer whose work focuses on entanglements of place, energy, and visual culture. Dr. Jekanowski holds a Ph.D. in Film and Moving Image Studies from Concordia University and is an incoming Assistant Professor of Literature at Memorial University – Grenfell. https://rjekanowski.ca/ 
        </div>

        <div class="profile">
            <img src="assets/researchers/Baldeep.jpg">
            <strong>Baldeep Kaur</strong> is a doctoral fellow in the DFG-funded Research Training Group (RTG) Minor Cosmopolitanisms based at the University of Potsdam. Their work traces the afterlives of colonial infrastructures that continue to shape postcolonial modernities and futures.
        </div>

        <div class="profile">
            <img src="assets/logos/logo_white_on_clear.png">
            <strong>Yani Kong</strong> is SSHRC Doctoral Fellow at Simon Fraser University and a recipient of the Living Labs Grant, exploring sustainable practices in streaming media in online teaching, learning, and contemporary art. Kong is an instructor at Langara College, managing editor of the Comparative Media Arts Journal, and a contributing writer, editor and critic for several Canadian publications including Galleries West and Public Parking Journal.
        </div>

        <div class="profile">
            <img src="assets/researchers/Cindy.jpg">
            <strong>Cindy Lin</strong> is a postdoctoral fellow at the Atkinson Center for Sustainability and Department of Information Science at Cornell University. Her current research focuses on the genealogies of ground truth in artificial intelligence (AI) systems deployed within the environmental sciences.
        </div>

        <div class="profile">
            <img src="assets/researchers/Alexandra.jpg">
            <strong>Alexandra Lakind</strong> is completing a doctorate in Curriculum and Instruction and Environment and Resources at the University of Wisconsin-Madison. Alexandra works across a diverse array of contexts designing arts and educational programming to foster collaboration and environmental connection.  
        </div>

        <div class="profile">
            <img src="assets/researchers/Laura.jpg">
            <strong>Laura U. Marks</strong> works on media art and philosophy. She led the research group Tackling the Carbon Footprint of Streaming Media and is founder of the Small File Media Festival, smallfile.ca. Marks teaches in the School for the Contemporary Arts at Simon Fraser University in Vancouver.
        </div>

        <div class="profile">
            <img src="assets/researchers/benedetta.jpg">
            <strong>Benedetta Piantella</strong> is a designer turned educator and humanitarian technologist. Her design research practice focuses on applying participatory design methods, systems thinking and user-centered design towards the design and implementation of distributed and resilient low-carbon networks. Benedetta is an Open Source advocate and is currently teaching and conducting research at NYU Tandon’s Integrated Digital Media Program.
        </div>

        <div class="profile">
            <img src="assets/researchers/Shirley.jpg">
            <strong>Shirley Roburn</strong> is an Assistant Professor in the Department of Communication and Media Studies at York University in Toronto, Canada. She researches the public storytelling strategies used by indigenous communities and their civil society allies in order to reframe controversies over energy infrastructure development in terms of issues of land and water, food, and cultural sovereignty.
        </div>

        <div class="profile">
            <img src="assets/researchers/Emily.jpg">
            <strong>Emily Roehl</strong> (she/her) is a settler scholar and artist who lives in the homelands of the Coahuiltecan, Jumanos, and Tonkawa. Her work on resistance to oil infrastructure uses a variety of media, including writing, photography, artist publications, and pedagogical projects.
        </div>

        <div class="profile">
            <img src="assets/researchers/Brian.jpg">
            <strong>Brian Sutherland</strong> is a PhD candidate at the Faculty of Information, University of Toronto at Semaphore Labs.  He has assembled a significant collection of historical product integrated photovoltaic devices and is studying them and writing their history, with a view to more sustainable electronics, as part of his thesis "solar powered information systems."
        </div>

        <div class="profile">
            <img src="assets/researchers/Dawn.jpg">
            <strong>Dawn Walker</strong> is a design researcher and PhD Candidate at the Faculty of Information, University of Toronto. Her research focuses on the possibilities for social transformation through the design of alternative and decentralized (web) infrastructures. She is a member-worker of Hypha, a tech worker co-operative, and co-organizes Our Networks, a conference about the past, present, and future of building our own network infrastructures. https://dcwalker.ca/
        </div>

    </div>




<div id=footer>

    <div id="footer-nav">
        <div class="navLink"><a href="index.html">About</a></div>
        <div class="navLink" id="onPage"><a href="researchers.html">Researchers</a></div>
        <div class="navLink"><a href="events.html">Events</a></div>
        <div class="navLink"><a href="publications.html">Publications</a></div>
        <div class="navLink"><a href="resources.html">Resources</a></div>
        <div class="navLink"><a href="contact.html">Contact</a></div>
    </div>
    
   <div id="footer-content">
        <p>
            This website is served from a solar powered server run by the Low Carbon Research Methods group, in collaboration with Solar Protocol. The server is located in Peterborough, Canada. The design utilizes minimal design methods that lower the energy demands of the website. 
        </p>

        <div>
            <p>This data was last updated at %%TIME%% on %%DATE%% local server time.</p>
            <p>Today's weather: %%WEATHER_TODAY%%</p>
            <p>Tomorrow's weather: %%WEATHER_TOMORROW%%</p>
            <p>Battery Charge: %%BATTERY%%</p>
            <p>The graph below shows PV power production over the last 24 hours.</p>
        </div>
    </div>
    
</div>

</div>


</body>

</html> 