 <!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="lcm.css" />
<title>Low Carbon Methods</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="assets/logos/favicon-16x16.png">
</head>

<body>

<div id="headerContainer">
    <div id="logoContainer">
        <a href="index.html"><img src=%%logo-src%%></a>
    </div>

    <div id="header-background">
    </div>

    <div id="header-local">
        <div class="serverLocation">Served from a solar powered server in Peterborough, Canada</div>
        <div class="serverLocation"><span class="hideMinimize">Today's weather: %%WEATHER_TODAY%%</span></div>
        <div class="serverLocation"><span class="hideMinimize">Tomorrow's weather: %%WEATHER_TOMORROW%%</span></div>
    </div>

    <div id="menu"><a href="resources.html#footer-nav">Menu</a></div>

    <div id="header-nav">
        <div class="navLink"><a href="index.html">About</a></div>
        <div class="navLink"><a href="researchers.html">Researchers</a></div>
        <div class="navLink"><a href="events.html">Events</a></div>
        <div class="navLink"><a href="publications.html">Publications</a></div>
        <div class="navLink" id="onPage"><a href="resources.html">Resources</a></div>
        <div class="navLink"><a href="contact.html">Contact</a></div>
    </div>


    <div id="header-bat">
        <div id="batBar"></div>
        <div id="batPercent">Battery Capacity %%BATTERY%%</div>
    </div>

</div>

<div id=graphContainer>
    <div id="historyBar">
        <div class="hbarContainer">
            <div class="hbar" id="hbar1"><span>%%avgP1%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar2"><span>%%avgP2%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar3"><span>%%avgP3%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar4"><span>%%avgP4%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar5"><span>%%avgP5%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar6"><span>%%avgP6%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar7"><span>%%avgP7%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar8"><span>%%avgP8%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar9"><span>%%avgP9%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar10"><span>%%avgP10%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar11"><span>%%avgP11%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar12"><span>%%avgP12%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar13"><span>%%avgP13%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar14"><span>%%avgP14%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar15"><span>%%avgP15%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar16"><span>%%avgP16%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar17"><span>%%avgP17%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar18"><span>%%avgP18%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar19"><span>%%avgP19%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar20"><span>%%avgP20%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar21"><span>%%avgP21%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar22"><span>%%avgP22%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar23"><span>%%avgP23%%</span></div>
        </div>
        <div class="hbarContainer">
            <div class="hbar" id="hbar24"><span>%%avgP24%%</span></div>
        </div>
    </div>

    <div id="time-container">
        <div id="twentyfour">-24 hrs</div>
        <div id="twelve">-12 hrs</div>
        <div id="now">%%TIME%%</div>
    </div>

</div>

<div id="content">
    
    <div id="contentItemContainer">
        <div class="contentItem">
            <h2>Resources</h2>

            <div class="tableOfContents">
                <a href="resources.html#rAesthetics">Aesthetics</a>
                <a href="resources.html#rArchives">Archives</a>
                <a href="resources.html#rConferences">Conferences</a>
                <a href="resources.html#rDigitalDesign">Digital Design</a>
                <a href="resources.html#rDisability">Disability</a>
                <a href="resources.html#rMobility">Mobility</a>
                <a href="resources.html#rSpeed">Speed</a>
                <a href="resources.html#rInsitutions">Universities/Methods as Institutions</a>
            </div>

            <p>
                Below is a short bibliography of texts and resources with particular resonance with the group’s research interests. To suggest a text, email <a href="email:annepasek@trentu.ca">annepasek@trentu.ca</a>. 
            </p>
        </div>

        <div  id="rAesthetics" class="contentItem">

            <h3>Aesthetics</h3>
            <p>
                Nathanson, Alex. A History of Solar Power Art and Design. New York: Routledge, 2021.
            </p>
            <p>
                The Synthetics Collective. “A DIY Fieldguide for Reducing the Environmental Impact of Art Exhibitions.” 2021. <a href="https://plasticheart.solar/static/texts/PlasticHeart_DIY_FIELDGUIDE.pdf">https://plasticheart.solar/static/texts/PlasticHeart_DIY_FIELDGUIDE.pdf</a>. 
            </p>
        </div>

        <div id="rArchives" class="contentItem">

        <h3>Archives</h3>
        <p>
            Abbey, Heidi N. “The Green Archivist: A Primer for Adopting Affordable, Environmentally Sustainable, and Socially Responsible Archival Management Practices,” Archival Issues. https://minds.wisconsin.edu/handle/1793/72389 
        </p>
        <p>
            Goldman, Ben. “It’s Not Easy Being Green(e): Digital Preservation in the Age of Climate Change,” Archival Values: Essays in Honor of Mark Greene. https://scholarsphere.psu.edu/resources/381e68bf-c199-4786-ae61-671aede4e041 
        </p>
        <p>
            Pendergrass, Keith L., Walker Sampson, Tessa Walsh, and Laura Alagna. 2019. “Toward Environmentally Sustainable Digital Preservation.” The American Archivist 82 (1): 165–206 https://dash.harvard.edu/bitstream/handle/1/40741399/360-9081-82.1.165.pdf 
        </p>
        <p>
            Sternfeld, Joshua et al. “Green Bytes: Sustainable Approaches to Digital Stewardship,” Digital Preservation Plenary Session, July 24, 2013. http://www.digitalpreservation.gov/meetings/documents/ndiipp13/Green_Bytes_Abstract_FINAL.pdf 
        </p>    
    </div>

    <div id="rConferences" class="contentItem">


        <h3>Conferences</h3>
        <p>
            Mead, Margaret, and Paul Byers. The Small Conference: An Innovation in Communication, 2015. https://0-doi-org.pugwash.lib.warwick.ac.uk/10.1515/9783111559100.
        </p>
        <p>
            Pasek, Anne, Caleb Wellum, and Emily Roehl. “Making and Meeting Online: A White Paper on E-Conferences, Workshops, and other Experiments in Low-Carbon Research Exchange.” Petrocultures Research Group. https://www.energyhumanities.ca/news/making-and-meeting-online.
        </p>
        <p>
            Sarabipour, Sarvenaz. “Evaluating features of scientific conferences: A call for improvements.” 21 April 2020. https://www.biorxiv.org/content/biorxiv/early/2020/04/21/2020.04.02.022079.full.pdf. 
        </p>
        <p>
            Svensson, Patrik. “Some Thoughts on Making Academic Events with Particular Attention to the Mid-Sized Event,” October 15, 2019. http://patriksv.net/some-thoughts-on-making-academic-events/.
    </p>
    </div>

    <div id="rDigitalDesign" class="contentItem">

        <h3>Digital Design</h3>

        <p>
            De Decker, Kris. “How to Build a Low-tech Website.” Low Tech Magazine, 24 September 2018, https://solar.lowtechmagazine.com/2018/09/how-to-build-a-lowtech-website.html
        </p>
        <p>
            Formafantasma’s design portfolio: https://formafantasma.com/website.
        </p>
        <p>
            Jarrett, Tom. “Designing Sustainable Interaction Design Principles.” Branch Magazine, 15 October 2020, https://branch.climateaction.tech/2020/10/15/designing-branch-sustainable-interaction-design-principles/.
        </p>
        <p>
            Kazemi, Darius. Run your own social. https://runyourown.social/.
        </p>
        <p>
            Neocities (a community of often retro-inspired, user-coded, low-bandwidth personal websites): https://neocities.org/. 
        </p>
        <p>
            Parnitzke, Daniel. Finding Pleasure in Scarcity. MA Thesis, Design Academy Eindhoven. http://pleasureinscarcity.com/
        </p>
        <p>
            Piantella, Benedetta, Alex Nathanson, Tega Brain, and Keita Ohshiro. “Solar-Powered Server: Designing for a More Energy Positive Internet.” 2020 CHI Conference on Human Factors in Computing Systems. New York, NY, USA: Association for Computing Machinery, 2020. https://doi.org/10.1145/3334480.3383155. 
        </p>
        <p>
            Roscam Abbing, Roel. “‘This Is a Solar-Powered Website, Which Means It Sometimes Goes Offline’: A Design Inquiry into Degrowth and ICT. In LIMITS’21: Workshop on Computing within Limits, June 14–15, 2021. https://computingwithinlimits.org/2021/papers/limits21-abbing.pdf. 
        </p>
        <p>
            Ye, Lu. “Design for Carbon-Aware Digital Experiences.” Branch Magazine, 10 October 2020. https://branch.climateaction.tech/2020/10/11/design-for-carbon-aware-digital-experiences/.
        </p>
    </div>

    <div id="rDisability" class="contentItem">
        <h3>Disability</h3>
        <p>
            Hamraie, Aimi. “Designing Collective Access: A Feminist Disability Theory of Universal Design.” Disability Studies Quarterly 33, no. 4 (September 5, 2013). https://doi.org/10.18061/dsq.v33i4.3871.
        </p>
        <p>
            Hamraie, Aimi, and Kelly Fritsch. “Crip Technoscience Manifesto.” Catalyst: Feminism, Theory, Technoscience 5, no. 1 (April 1, 2019): 1–33. https://doi.org/10.28968/cftt.v5i1.29607.
        </p>
    </div>

    <div id="rMobility" class="contentItem">
        <h3>Mobility</h3>
        <p>
            Flying Less in Academia Resource Guide, ed. Ryan Katz-Rosen. (A good collection of different studies, editorials, petitions, etc. from the flying less movement).
        </p>
        <p>
            Glover, Andre, Yolande Strengers, and Tania Lewis. “The Unsustainability of Academic Aeromobility in Australian Universities.” Sustainability: Science, Practice and Policy 13, no. 1 (2017): 1–12.
        </p>
        <p>
            Günel, Gökçe, Saiba Varma, and Chika Watanabe. “A Manifesto for Patchwork Ethnography.” Fieldsights, June 9, 2020. https://culanth.org/fieldsights/a-manifesto-for-patchwork-ethnography.
        </p>
        <p>
            Jungnickel, Katrina. “Getting There… and Back: How Ethnographic Commuting (by Bicycle) Shaped a Study of Australian Backyard Technologists.” Qualitative Research 14, no. 6 (December 1, 2014): 640–55. https://doi.org/10.1177/1468794113481792.
        <p>
        </p>
            Nevins, Joseph. “Academic Jet-Setting in a Time of Climate Destabilization: Ecological Privilege and Professional Geographic Travel.” The Professional Geographer 66, no. 2 (April 3, 2014): 298–310. https://doi.org/10.1080/00330124.2013.784954.
        </p>
        <p>
            Sheller, Mimi. Mobility Justice: The Politics of Movement in an Age of Extremes. London: Verso, 2018.
        </p>
    </div>
    
    <div id="rSpeed" class="contentItem">
        <h3>Speed</h3>
        <p>
            Mountz, Alison, et al. "For slow scholarship: A feminist politics of resistance through collective action in the neoliberal university." ACME: An International Journal for Critical Geographies 14.4 (2015): 1235-1259. https://acme-journal.org/index.php/acme/article/view/1058
        </p>
        <p>
            Meredith Conti, “Slow Academic Travel: An Antidote to “Fly Over” Scholarship in the Age of Climate Crisis, Theatre Topics 31.1 (2021): https://muse.jhu.edu/article/786251
        </p>
    </div>
    <div id="rInsitutions" class="contentItem">
        <h3>Universities/Methods as Institutions</h3>
        <p>
            paperson, la. A Third University Is Possible. Minneapolis: University of Minnesota Press, 2017.
        </p>
        <p>
            Liboiron, Max. Pollution Is Colonialism, 2021.
        </p>
    </div>
</div>

<div id=footer>

    <div id="footer-nav">
        <div class="navLink"><a href="index.html">About</a></div>
        <div class="navLink"><a href="researchers.html">Researchers</a></div>
        <div class="navLink"><a href="events.html">Events</a></div>
        <div class="navLink"><a href="publications.html">Publications</a></div>
        <div class="navLink" id="onPage"><a href="resources.html">Resources</a></div>
        <div class="navLink"><a href="contact.html">Contact</a></div>
    </div>

    <div id="footer-content">
        <p>
            This website is served from a solar powered server run by the Low Carbon Research Methods group, in collaboration with Solar Protocol. The server is located in Peterborough, Canada. The design utilizes minimal design methods that lower the energy demands of the website. 
        </p>

        <p>
            The weather and photovoltaic (PV) system data was last updated at %%TIME%% on %%DATE%% local server time.
        </p>
            
        <div id="fDataContainer">
            <div class="fDataBox">
                <p>Today's weather: %%WEATHER_TODAY%%</p>
                <p>Tomorrow's weather: %%WEATHER_TOMORROW%%</p>
            </div>
            <div class="fDataBox">
                <p>Battery Charge: %%BATTERY%%</p>
            </div>
            <div class="fDataBox">
                <p>Page Size: 71.75KB</p>
            </div>
        </div>

        <p>The graph below shows PV power production over the last 24 hours.</p>

    </div>

</div>

</div>


</body>

</html> 